{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('app_profile_show') }}"><button class="room__button__returnForum" style="vertical-align:middle"><span>Retourner sur la page de profil</span></button></a>
        <h1>Modifier le profil</h1>

        {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    </div>
{% endblock %}
