{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% block navbar %}
		{% include 'navbar.html.twig' %}
	{% endblock %}
	<div class="example-wrapper">
		<ul>
			<p>Léooo</p>
			<p>Jonasssss</p>
			<p>LOUISON ^^</p>
		</ul>
	</div>
{% endblock %}
