{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{# {{ dump(games) }} #}
	<div class="LeoTest">
		<img src="/assets/img/test.jpg" alt="">
	</div>
	<div class="FirstViewBody">
		<div class="LogoTitle">
			<h1>PoG</h1>
		</div>
		<div class="NavbarMidPosition">
			<div class="FirstNavbarMid">
				{% block navbar %}
					{% include 'navbar.html.twig' %}
				{% endblock %}
			</div>
		</div>
	</div>

	{% block carousel %}
		{% include 'home/carousel.html.twig' %}
	{% endblock %}

	{% block categoriesDisplay %}
		{% include 'home/categoriesDisplay.html.twig' %}
	{% endblock %}
	
{% endblock %}
