{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container">
    <h1 class="request__h1">Mot de passe oublié</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail puis cliquez sur le bouton ci-dessous pour recevoir un lien et réinitialier votre mot de passe. 
            </small>
        </div>

        <button class="request__button__submit btn btn-primary mt-5">Envoyer un e-mail pour réinitialier le mot de passe</button>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}
