{% extends 'base.html.twig' %}

{% block title %}Nouvelle Discussion
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer une nouvelle discussion</h1>

		{{ include('room/_form.html.twig') }}

		<a href="{{ path('app_room_index') }}">back to list</a>
	</div>
{% endblock %}
