@charset "UTF-8";
body {
  background-color: #252525;
  color: #fff;
}

.forum__h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 90px;
  line-height: 130px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px rgb(230, 18, 124), 0 0 77px rgb(230, 18, 124), 0 0 100px rgb(230, 18, 124);
}

.forumRules {
  color: rgb(212, 211, 211);
  box-sizing: border-box;
  background: #252525;
  border: 3px solid #000000;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
  line-height: 30px;
  width: 70%;
  margin: auto;
  font-size: 20px;
}
.forumRules .forumRules__h4 {
  text-align: center;
  line-height: 60px;
}

.forumRoomSearch {
  text-align: center;
  margin-top: 130px;
}
.forumRoomSearch .forumRoomSearch__input {
  box-sizing: border-box;
  width: 50%;
  height: 50px;
  background: #252525;
  border: 3px solid #FF5EBE;
  box-shadow: 0px 0px 15px rgba(255, 94, 190, 0.5);
  border-radius: 20px;
  background-image: url("../img/chercher2.png");
  background-position: 97%;
  background-repeat: no-repeat;
  background-size: 2.8em;
  transition: box-shadow 0.6s, background-color 0.6s;
  padding-left: 15px;
}
.forumRoomSearch .forumRoomSearch__input::-moz-placeholder {
  color: rgb(201, 201, 201);
  font-size: 15px;
}
.forumRoomSearch .forumRoomSearch__input::placeholder {
  color: rgb(201, 201, 201);
  font-size: 15px;
}
.forumRoomSearch .forumRoomSearch__input:hover {
  box-shadow: 0px 0px 20px rgba(255, 94, 191, 0.925);
}
.forumRoomSearch .forumRoomSearch__input:focus {
  outline: none;
  background-color: rgba(255, 94, 191, 0.4039215686);
  color: #fff;
}

.roomGrid {
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
}
.roomGrid .roomGridHeader {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin-left: 5px;
}
.roomGrid .roomCardMessage {
  text-align: center;
}
.roomGrid .roomCard {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  border: 3px solid;
  border-radius: 20px;
  margin-bottom: 100px;
  height: 150px;
  align-items: center;
  background-color: #1f1f1f;
}
.roomGrid .roomCard .roomCardTitle {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px 0px 13px;
}
.roomGrid .roomCard .roomCardDate {
  margin-left: 0;
}
.roomGrid .roomCard .roomCardTitle, .roomGrid .roomCard .roomCardDate, .roomGrid .roomCard .roomCardMessage {
  margin-bottom: 0;
}

.roomCard:nth-child(6n+1) {
  border-color: #ff6666;
  box-shadow: 0px 0px 15px #ff6666;
}

.roomCard:nth-child(6n+2) {
  border-color: #6666ff;
  box-shadow: 0px 0px 15px #6666ff;
}

.roomCard:nth-child(6n+3) {
  border-color: #ffb866;
  box-shadow: 0px 0px 15px #ffb866;
}

.roomCard:nth-child(6n+4) {
  border-color: #00e600;
  box-shadow: 0px 0px 15px #00e600;
}

.roomCard:nth-child(6n+5) {
  border-color: #ffff66;
  box-shadow: 0px 0px 15px #ffff66;
}

.roomCard:nth-child(6n+6) {
  border-color: #e600e6;
  box-shadow: 0px 0px 15px #e600e6;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow {
  left: 48%;
  position: sticky;
  bottom: 40px;
  transition: filter 0.4s;
}
.arrow .arrow__img {
  height: 50px;
}

.arrow:hover {
  filter: drop-shadow(0px 0px 5px rgba(255, 94, 191, 0.925));
}

.newRoomContainer {
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  margin-bottom: 50px;
}

.newRoomButton {
  transition-duration: 0.4s;
  margin: 0px 5px 0px 5px;
  padding: 0px 15px 0px 15px;
  border: 2px solid #000000;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}

.newRoomButton:hover {
  background-color: #008cff;
  filter: drop-shadow(0px 0px 3px #008cff);
  border: 2px solid #008cff;
}

.room__button__returnForum {
  background-color: #252525;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 50px;
}

.room__button__returnForum span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.room__button__returnForum span:after {
  content: "«";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.room__button__returnForum:hover span {
  padding-left: 25px;
}

.room__button__returnForum:hover span:after {
  opacity: 1;
  left: 0;
}

.roomTitleContainer {
  border: 3px solid #008cff;
  box-shadow: 0px 0px 8px 8px rgba(4, 154, 241, 0.5);
  border-radius: 20px;
  margin: 30px 0px 100px 0px;
  padding: 30px 50px 50px 50px;
}
.roomTitleContainer .roomTitleContainerProfilPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.roomTitleContainer .roomTitleContainer__header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.roomTitleContainer .roomTitleContainer__header__profil {
  font-size: 25px;
}
.roomTitleContainer .roomTitleContainer__title {
  text-align: center;
  margin-bottom: 20px;
}

.chatContainer {
  margin-bottom: 250px;
}
.chatContainer .chatContainerProfilPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.chatContainer .chatContainerMessage {
  padding: 20px 20px 20px 20px;
  border: 1px solid #000000;
}
.chatContainer .chatContainerMessage__header {
  justify-content: space-between;
  display: flex;
}
.chatContainer .chatContainerMessage__header__profil {
  font-size: 20px;
}

.chatContainerMessage:nth-child(even) {
  background: #252525;
}

.chatContainerMessage:nth-child(odd) {
  background: #141414;
}

.newMessage {
  position: fixed;
  bottom: 25px;
  border: 2px solid #FF5EBE;
  box-shadow: 0px 0px 15px rgba(255, 94, 190, 0.5);
  background-color: #1d1d1d;
  color: rgb(175, 175, 175);
}

.room__ifNotConnected {
  text-align: center;
  margin: -200px 0 100px 0;
}

.room__btnnewmessage {
  margin-bottom: 10px;
}

.room__chatContainer__date {
  text-align: end;
}

.room__chatContainer__profil {
  margin-bottom: 0;
}

.newRoom__h1 {
  font-weight: 800;
  font-size: 50px;
  line-height: 130px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
  color: #fff;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 42px rgb(230, 18, 124), 0 0 77px rgb(230, 18, 124), 0 0 100px rgb(230, 18, 124);
}

.newRoom__submit {
  margin-top: 30px;
  width: 140px;
  display: flex;
  justify-content: center;
}

.newRoom__title {
  width: 60%;
  margin-left: 20%;
  color: #fff;
  margin-bottom: 50px;
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
}

.newRoom__title {
  display: flex;
  justify-content: center;
  background-color: #141414;
}

.newRoom__title:focus {
  background-color: #141414;
  outline: none;
  color: #fff;
}

.newRoom__title::-moz-placeholder {
  color: #a8a6a6;
}

.newRoom__title::placeholder {
  color: #a8a6a6;
}

.newRoom__content {
  background-color: #1d1d1d;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  color: #fff;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  background-color: #1d1d1d;
  color: #fff;
  resize: none;
  outline: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.newChat__h4 {
  text-align: end;
  margin: 10px 10px 10px 0;
}

.newChat__submit {
  margin: 7px 0px 10px 7px;
}

.register__h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 80px 0 100px 0;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px rgb(230, 18, 124), 0 0 77px rgb(230, 18, 124), 0 0 100px rgb(230, 18, 124);
}

.register__legend {
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #00b7ff;
}

.register__button__submit {
  margin: auto;
  display: flex;
}

.login__h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 80px 0 100px 0;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 2px #fff, 0 0 42px rgb(230, 18, 124), 0 0 77px rgb(230, 18, 124), 0 0 100px rgb(230, 18, 124);
}

.login__button__submit {
  margin: auto;
  display: flex;
}

.login__passforgot {
  text-align: center;
}

.request__h1 {
  font-size: 50px;
  line-height: 130px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
  color: #fff;
  text-shadow: 0 0 0px #fff, 0 0 3px #fff, 0 0 1px rgb(230, 18, 124), 0 0 30px rgb(230, 18, 124), 0 0 100px rgb(230, 18, 124);
}

.request__button__submit {
  margin: auto;
  display: flex;
}

.check_email {
  text-align: center;
}

.profile__header {
  background-color: #0c0c0c;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.profile__header .profile__h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 80px 60px 100px 0;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 2px #fff, 0 0 42px rgb(0, 204, 255), 0 0 77px rgb(0, 204, 255), 0 0 100px rgb(0, 204, 255);
}
.profile__header .profile__picture {
  height: 180px;
  border: 3px solid #008cff;
  box-shadow: 0px 0px 8px 8px rgba(4, 154, 241, 0.5);
}

.profile__description {
  text-align: center;
  border-bottom: 1px solid #008cff;
  font-size: 25px;
}

.profile__div__table {
  display: flex;
  justify-content: center;
}
.profile__div__table .profile__table th {
  text-align: end;
  font-size: 25px;
}
.profile__div__table .profile__table tr {
  height: 80px;
}
.profile__div__table .profile__table td {
  width: 250px;
  padding-left: 40px;
  font-size: 20px;
}

.profile__linkEdit {
  text-align: center;
}

.profile__edit__h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 80px 60px 80px 0;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 2px #fff, 0 0 42px rgb(0, 204, 255), 0 0 77px rgb(0, 204, 255), 0 0 100px rgb(0, 204, 255);
}

.table {
  color: aliceblue;
}/*# sourceMappingURL=app.css.map */