.LeoTest {
  position: absolute;
}
.LeoTest img {
  width: 1900px;
}

.FirstViewBody {
  height: 935px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.FirstViewBody .LogoTitle {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #212529;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 10px rgba(255, 0, 153, 0.9);
}
.FirstViewBody .LogoTitle img {
  filter: drop-shadow(2px 1px 17px #48dfff);
}
.FirstViewBody .LogoTitle h1 {
  color: white;
}
.FirstViewBody nav {
  box-shadow: 0px 0px 20px 10px rgba(255, 0, 153, 0.9);
  border-radius: 20px;
}
.FirstViewBody nav a {
  cursor: pointer;
  color: white;
}
.FirstViewBody nav .navbar_logo_pog {
  height: 43px;
  opacity: 0;
  display: none;
}
.FirstViewBody nav .navbar_logo_pog.show {
  opacity: 1;
  display: block;
}

.NavbarMidPosition {
  z-index: 999;
  position: sticky;
  top: 0;
}

.marginForCarousel {
  margin: 200px;
}

.carouselBorders {
  box-shadow: 0px 0px 20px 10px rgba(255, 0, 153, 0.9);
  border-radius: 50px;
}

.InfoGameFont {
  border-radius: 50px;
  background-color: #212529;
  box-shadow: 0px 0px 20px 10px rgba(255, 0, 153, 0.9);
}

.categoryDiv {
  width: 300px;
  height: 150px;
  background-color: #212529;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.categoryDiv h3 {
  color: white;
  text-shadow: 4px 4px 0px black;
}

.categoryDiv:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 10px rgba(255, 0, 153, 0.9);
}

.homeGameDescr {
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 20px 10px rgba(255, 0, 153, 0.9);
  border-radius: 25px;
  margin: 20px;
  width: 50%;
  height: 350px;
  margin: 10rem 0;
}
.homeGameDescr img {
  box-shadow: 0px 0px 20px 10px rgba(255, 0, 153, 0.9);
  position: relative;
  right: 100px;
  border-radius: 25px;
}

.gameDiv {
  width: 375px;
  height: 200px;
  margin: 0;
}