.login__form {
    display: flex;
    margin-top: 120px;
    .login__h1 {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        font-size: 70px;
        text-align: center;
        letter-spacing: 0.05em;
        margin: 80px 0 100px 0;
    
        color: #fff;
        text-shadow:  0 0 7px #fff, 
            0 0 2px #fff, 
            0 0 42px rgb(230, 18, 124),   
            0 0 77px rgb(230, 18, 124), 
            0 0 100px rgb(230, 18, 124) 
    }
    
    .login__button__submit {
        margin: auto;
        display: flex;
    }
    
    .login__passforgot {
        text-align: center;
    }
}
