.register__h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 130px;

    color: #fff;
    text-shadow:  0 0 7px #fff, 
        0 0 10px #fff, 
        0 0 42px rgb(230, 18, 124),   
        0 0 77px rgb(230, 18, 124), 
        0 0 100px rgb(230, 18, 124) 
}

.register__form {
    display:flex; 
    justify-content: center;
    .register__legend {
        font-size: 30px;
        letter-spacing: 0.05em;
    
        color: #00b7ff;
    }
    
    .register__button__submit {
        margin: auto;
        display: flex;
    }
}
