// $colors: red, orange, yellow, green, blue, rgba(255,0,153,0.9);

// @for $i from 1 through length($colors) {
//     .navColors:nth-child(#{length($colors)}n+#{$i}) {
//         border-color: lighten(nth($colors, $i), 20%);
//     }
// }

.LeoTest{
    position: absolute;
    img{
        width: 1900px;
    }
}

.FirstViewBody{
    height: 935px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .LogoTitle{
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        background-color: #212529;
        border-radius: 25px;
        -webkit-box-shadow:0px 0px 20px 10px rgba(255,0,153,0.9);
        -moz-box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
        box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
        img{
            filter: drop-shadow(2px 1px 17px #48dfff);
        }
        h1{
            color: white;
        }
    }
    nav{
        -webkit-box-shadow:0px 0px 20px 10px rgba(255,0,153,0.9);
        -moz-box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
        box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
        border-radius: 20px;
        a{
            cursor: pointer;
            color: white;
        }
        .navbar_logo_pog {
            height: 43px;
            opacity: 0;
            display: none;
        }
        .navbar_logo_pog.show {
            opacity: 1;
            display: block;
          }
    }
}

.NavbarMidPosition {
    z-index: 999;
    position: sticky;
    top: 0;
}

.marginForCarousel{
    margin: 200px;
}

.carouselBorders{
    -webkit-box-shadow:0px 0px 20px 10px rgba(255,0,153,0.9);
    -moz-box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
    box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
    border-radius: 50px;
}

.InfoGameFont{
    border-radius: 50px;
    background-color: #212529;
    -webkit-box-shadow:0px 0px 20px 10px rgba(255,0,153,0.9);
    -moz-box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
    box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
}

.categoryDiv{
    width: 300px;
    height: 150px;
    background-color: #212529;
    border-radius: 25px;
    -webkit-box-shadow:0px 0px 20px 10px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease-in;
    cursor: pointer;
    h3{
        color: white;
        text-shadow: 4px 4px 0px black;
    }
}

.categoryDiv:hover{
    transform: scale(1.1);
    -webkit-box-shadow:0px 0px 20px 10px rgba(255,0,153,0.9);
    -moz-box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
    box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
}

.homeGameDescr{
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow:0px 0px 20px 10px rgba(255,0,153,0.9);
    -moz-box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
    box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
    border-radius: 25px;
    margin: 20px;
    width: 50%;
    height: 350px;
    margin: 10rem 0;
    img{
        -webkit-box-shadow:0px 0px 20px 10px rgba(255,0,153,0.9);
        -moz-box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
        box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
        position: relative;
        right: 100px;
        border-radius: 25px;
    }
}

.gameDiv{
    width: 375px;
    height: 200px;
    margin: 0;
}