$colors: red, orange, yellow, green, blue, rgba(255,0,153,0.9);

@for $i from 1 through length($colors) {
    .roomCard:nth-child(#{length($colors)}n+#{$i}) {
        border-color: lighten(nth($colors, $i), 20%);
    }
}

.LeoTest{
    background-color: #2125297e;
    position: absolute;
    img{
        width: 1900px;
    }
}

.FirstViewBody{
    height: 935px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .LogoTitle{
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        background-color: #212529;
        border-radius: 25px;
        -webkit-box-shadow:0px 0px 20px 10px rgba(255,0,153,0.9);
        -moz-box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
        box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
        h1{
            color: white;
        }
    }
    nav{
        -webkit-box-shadow:0px 0px 20px 10px rgba(255,0,153,0.9);
        -moz-box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
        box-shadow: 0px 0px 20px 10px rgba(255,0,153,0.9);
        border-radius: 20px;
        a{
            cursor: pointer;
            color: white;
        }
    }
}

.FirstSection{
    width: 50%;
}